<div class="login-form__wrapper">
  <h1 class="title">Account login</h1>
  <form #myForm="ngForm" >
    <label>
      E-mail <span *ngIf="emailError">This email is already taken</span>
      <input [(ngModel)]="email" [ngClass]="{invalid: emailError}" (change)="onChange()" type="email" name="login" id="login" placeholder="example@mail.net" #login="ngModel" pattern="[a-zA-Z_]+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}" required>
      
    </label>
    <label>
      Password 
      <input [(ngModel)]="password"  type="password" name="password" id="password" placeholder="password" #passw="ngModel" required>

    </label>
    <button form="ngForm" [disabled]="myForm.invalid" [ngClass]="{disabled: myForm.invalid || this.emailError}" (click)="submit()">Login</button>
  </form>
</div>
